<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Register</title>
</head>
<body>
   <h1>Let's Join Us</h1>

   <form action="/users/register" method="post">
      <label for="email">Email:</label><br>
      <input type="text" name="email"> <br>

      <label for="password">Password:</label><br>
      <input type="password" name="password"> <br>

      <label for="fullname">Fullname:</label><br>
      <input type="text" name="fullname"> <br>

      <label for="birthdate">Birthdate:</label><br>
      <input type="date" name="birthdate"> <br>

      <label for="weigth">Weight</label><br>
      <input type="number" name="weigth"><br>

      <label for="height">Height</label><br>
      <input type="number" name="height"><br>

      <button type="submit">Register</button>
   </form>
</body>
</html>